
/* TODO
 * webfont: Arvo, Arvo Bold
 * #43105f
 *
 */

html {
    background-color: #ffffff;
}
body  {
    background-color: #ffffff !important;
    line-height: 1.5em;
}
.page-home .node-page.user-picture-available {
    padding-left: 0;
    position: relative;
}
#block-commons-utility-links-commons-utility-links {
    margin: 15px 0 0;
}
.page-home .node-page .user-picture {
    display: none;
}
button, [type="reset"], [type="submit"], [type="button"], [class*="action-item"], .commons-login {
    background: linear-gradient(#FFFFFF, #F1F1F1) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #CBCBCB;
    text-shadow: -1px 1px 2px #FFFFFF, -1px -1px 2px #FFFFFF, 1px -1px 2px #FFFFFF, 1px 1px 2px #FFFFFF;
}
.block-content ul.commons-utility-links .signup {
    display: none;
}
.node-type-mentor-group .region-two-66-33-second .panel-pane {
   box-shadow: none !important;
}

.panel-pane.pane-block.pane-oops-utils-oops-login-button.no-title.block {
    height: 100px;
}
.page-home .commons-sign-up, .page-home .commons-login {
    background: none repeat scroll 0 0 #43105F;
    color: #FFFFFF;
    font-size: 1.5em;
    padding: 5px;
    margin-top: 0;
    text-shadow: none;
    width: 100%;
}
.palette-black-white-red .header-color-row-two {
    background-color: #ffffff;
    border-bottom: none;
    border-top: none /*1px solid #525252*/;
}
.palette-black-white-red .header-color-row-one {
    background-color: #ffffff;
    border-top: none;
    padding-top: 20px;
}

.logged-in .page {
    background-color: #ffffff;
}
h1,h2,h3,h4,h5,h6,
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a
{
    color: #43105f !important;
    padding: 10px 0 10px;
    font-family: serif;
}

.page-home .region-three-33-top {
    margin-bottom: 40px;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

/* Main navigation */
#header a {
    color: #43105f;
}
#menu-bar.nav ul.menu li:hover, #menu-bar.nav ul.menu li.active-trail {
    background: none;
}
.palette-black-white-red #menu-bar.nav ul.menu li a, #menu-bar.nav ul.menu li .palette-black-white-red a {
    border: none !important;
    box-shadow: none;
    background: none transparent;
}
#menu-bar.nav ul.menu li a {
    -moz-box-sizing: border-box;
    background-position: center 10px;
    background-repeat: no-repeat;
    display: block;
    font-size: 1.2em;
    height: 4em;
    margin-bottom: -9998em;
    padding: 1.4em 0.8125em 9999em;
    position: relative;
    text-shadow: none;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 1;
}
.palette-black-white-red #menu-bar.nav {
    border-right: none;
    box-shadow: none;
}

/** Footer */
.footer-logos {
    float: right;
}
.footer-logos .col {
    display: inline-block;
    margin-left: 10px;
}
.footer-logos .col .heading {
    padding: 10px 0;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 10px;
}

.footer-logos .col img {
    padding: 0 10px 0 0;
}

/** Register form */

#user-register-form .form-item > label {
    display: inline-block;
    width: 220px;
}

#user-register-form label.option {
    width: auto;
}

#user-register-form label[for=edit-profile-student-field-facebook-url-und-0],
#user-register-form label[for=edit-profile-mentor-field-facebook-url-und-0],
#user-register-form label[for=edit-profile-mentor-field-twitter-url-und-0],
#user-register-form label[for=edit-profile-mentor-field-linkedin-url-und-0],
#user-register-form label[for=edit-profile-librarian-field-facebook-url-und-0],
#user-register-form label[for=edit-profile-librarian-field-twitter-url-und-0],
#user-register-form label[for=edit-profile-librarian-field-linkedin-url-und-0]
{
    float: left;
}

#user-register-form .form-textarea-wrapper.resizable.textarea-processed.resizable-textarea {
    padding: 0 0 10px;
    width: 505px;
}

#user-register-form .confirm-parent, .password-parent {
    clear: left;
    margin: 0;
    width: auto;
}

.user-picture, .views-field-picture {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px;
    box-shadow: none;
    display: inline-block;
    line-height: 0;
    padding: 4px;
}

.region-header {
    display: inline-block;
    margin-left: -150px;
    margin-top: -40px;
    width: 24em;
}

ul.commons-utility-links {
    background-color: #592D72;
    float: right;
    padding: 10px !important;
    width: 24em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

ul.commons-utility-links a {
    color: #ffffff !important;
}

.views-responsive-grid .views-row {
    border-bottom: medium none;
    border-top: 2px solid #8AB8B6;
    float: left;
    margin-bottom: 0.7em;
    padding-bottom: 0.7em;
    width: 100%;
}

.views-responsive-grid .views-column {
    float: left;
    padding-right: 10px;
    width: 48%;
}

.view-mentors-directory .views-field-group-group,
.node-type-mentor-group .field-name-group-group
{
    background-color: #8AB6B5;
    display: inline-block;
    float: left;
    margin-top: 60px;
    padding: 5px;
    width: 100px;
    text-align: center;
}

.pane-node-group-group .field-name-group-group .subscription-type {
    display: none;
}

.pane-node-author a {
    color: #8AB6B5;
    font-size: 1.4em;
}

.node-type-mentor-group .panel-pane.pane-entity-field.pane-node-group-group.no-title.block {
    float: left;
    margin-right: 10px;
    margin-top: -10px;
}

.node-type-mentor-group .panel-pane.pane-entity-field.pane-node-field-group-members.no-title.block,
.node-type-mentor-group .panel-pane.pane-entity-field.pane-node-field-max-group-members.no-title.block
{
    clear: left;
    float: left;
    height: 30px;
    margin-bottom: 0;
}

.view-mentors-directory .views-field-group-group a,
.node-type-mentor-group .field-name-group-group a
{
    color: #ffffff !important;
    font-weight: bold;
}

.view-mentors-directory .views-field-group-group .subscription-type,
.node-type-mentor-group .field-name-group-group .subscription-type
{
   /** display: none;*/
}

.view-mentors-directory .views-field-picture {
    display: inline-block;
    float: left;
}

.view-mentors-directory .views-field-title  {

}
.view-mentors-directory .views-field-title a {
    color: #8ab6b5 !important;
    font-family: serif;
    font-size: 1.875em;

}

.view-mentors-directory .views-field-body {
   margin-top: 0;
}

.view-mentors-directory .views-field-body h3 {
    height: 40px;
    color: #8ab8b6;
}

.view-mentors-directory .views-field-body h3 a {
    color: #8AB6B5 !important;
}

.page-group-node-subscribe h2#page-title {
    border-top: 2px solid #cea261;
    border-bottom: 1px solid #cea261;
    color: #cea261 !important;
    font-size: 2em;
}

form#og-ui-confirm-subscribe {
    margin-top: 20px;
}

#edit-field-upload-video {
    float: left;
    margin-right: 20px;
    width: 500px;
}

#edit-field-application-steps {
    float: left;
    width: 42%;
}

#edit-field-application-steps .step-1 h3 {
    margin-top: 0;
}

#edit-field-application-steps h3 {
    padding: 0;
    margin-bottom: 0;
}

#edit-field-youtube-video {
    float: left;
    width: 42%;
    margin-top: 10px;
}

#edit-field-youtube-video .description {
    display: none;
}

#edit-field-youtube-video input#edit-field-youtube-video-und-0-input {
    paading: 10px;
}

.page-group-node-subscribe #edit-actions {

}

#edit-timezone--4 {
    width: 95%;
}

.page-user .pane-user-picture {
    float: left;
    margin-left: 0;
}
.page-user .pane-user-picture .user-picture {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px;
    box-shadow: none;
    margin-left: 0;
    padding: 10px;
    position: static;
}

.page-user .student-profile h3 {
    display: none;
}

/** Calendar */

.view .date-nav-wrapper .date-heading {
    position: relative;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 0;
}
.view .date-nav-wrapper .date-heading h3 a {
    color: #43105f !important;
}
.calendar-calendar th.days {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    color: #43105f !important;
    font-weight: bold;
}
.calendar-calendar td {
    border: 1px solid #CCCCCC;
    color: #777777;
    height: 20px;
    margin: 0;
    padding: 8px 0 !important;
    text-align: center;
    vertical-align: top;
    width: 14%;
}
.calendar-calendar tr {
    background-color: #FFFFFF !important;
    margin: 0;
    padding: 0;
}
.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
    background-color: #43105f;
    border-radius: 20px;
    color: #ffffff;
}
.pane-oops-utils-oops-signup-student .block-content {
    border-top: 2px solid #cda05c;
    border-bottom: 1px solid #cda05c;
    padding: 5px 0;
}
.pane-oops-utils-oops-signup-mentor .block-content {
    border-top: 2px solid #8db6ba;
    border-bottom: 1px solid #8db6ba;
    padding: 5px 0;
}
.pane-oops-utils-oops-signup-librarian .block-content{
    border-top: 2px solid #b8c09b;
    border-bottom: 1px solid #b8c09b;
    padding: 5px 0;
}
.pane-oops-utils-oops-signup-student .block-content a,
.pane-oops-utils-oops-signup-mentor .block-content a,
.pane-oops-utils-oops-signup-librarian .block-content a{
    font-family: serif;
    font-size: 2.5em;
    line-height: 1.2;
    padding: 10px 0;
}
a.signup-student {
    color: #cda05c !important;
    padding-right: 30px !important;
}
a.signup-mentor {
    color: #8db6ba !important;
}
a.signup-librarian {
    color: #b8c09b !important;
}
.rate-widget-commons_like {
    float: left;
    white-space: nowrap;
    float: left;
}
.page-node .node nav {
    clear: none;
    margin-top: 20px;
    position: relative;
}
.in-maintenance h1.page-title {
    margin-top: 60px;
}
